body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;   
}
#playground{
    background-color: black;
    border: dashed 10px cyan;
    width: 400px;
    height: 600px;
    position: relative;
}
#pacman{
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
}
#eye{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    margin-left: 35px;
    margin-top: 15px;
}